
body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
}

#grid-container {
    width: 600px;
    height: 600px;
    background-color: aliceblue;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid rgb(143, 141, 141);
}